<tr>
	
	<td class="timestamp"><%= trade.created_at.strftime('%m/%d/%Y %I:%M%p') %> </td>
	<td><%= trade.position %></td>
	<td><%= trade.symbol %></td>
	<td><%= avg_price(trade) %></td>
	<td class="comments"><%= trade.desc %></td>
	<td><%= open_pl(trade) %></td>
</tr>