<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span2">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span10">
		<h3>Summary</h3>
		Open P&L: <%= number_to_currency(Trade.open_eq(current_user)) %> <br/>
		Closed P&L: <%= number_to_currency(Trade.closed_eq(current_user)) %>

	</div>
	<div class="span10 offset2">
		<% if @open_trades.any? %>
			<h3>Open Trades (<%= @open_trades.count %>)</h3>
			<table class="trades table table-striped">
				<thead>
					<th>Date</th>
					<th>Position</th>
					<th>Symbol</th>
					<th>Avg Fill</th>
					<th>Current Price</th>
					<th>Description</th>
					<th>Open Profit/Loss</th>

				</thead>
					<%= render @open_trades %>
			</table>
			
		<% end %>


	</div>

	<div class="span10 offset2">
		<% if @closed_trades.any? %>
			<h3>Closed Trades (<%= @closed_trades.count %>)</h3>
			<table class="trades table table-striped">
				<thead>
					<th>Date</th>
					<th>Position</th>
					<th>Symbol</th>
					<th>Fill</th>
					
					<th>Description</th>
					<th>Open Profit/Loss</th>

				</thead>
			
					<%= render partial: '/trades/closed_trade', collection: @closed_trades, as: :trade %>
				
					
			</table>
			
		<% end %>
</div>