<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span2">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span10">
		<% if @user.trades.any? %>
			<h3>Trades (<%= @user.trades.count %>)</h3>
			<table class="trades table table-striped">
				<thead>
					<th>Date</th>
					<th>Position</th>
					<th>Symbol</th>
					<th>Avg Fill</th>
					<th>Current Price</th>
					<th>Description</th>
					<th>Open Profit/Loss</th>

				</thead>
					<%= render @user.trades %>
			</table>
			<%= will_paginate @trades %>
		<% end %>
	</div>
</div>