<%= javascript_include_tag "trader" %>

<%= form_for @trade do |f| %>

		<%= render 'shared/error_messages', object: f.object %>
	
	<div class="form-horizontal">
		<div class="control-group">
			<%= f.label :symbol, "Symbol", class: "control-label" %>
			<div class="controls">
			<%= f.select(:symbol, securities_option_list(current_user),{}, class: "span2", id:"my_select") %>
			</div>
		</div>

		<input type="hidden" name="get_spread" id="get_spread" value="" />


		<div class="control-group">
			<%= f.label :fill, class: "control-label" %>
			<div class="controls">
				<%= f.number_field  :fill , class: "input-small", id: "fill", step: @step, min: 0 %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :spread, "Bid/Ask Spread", class: "control-label" %>
			<div class="controls">
				<%= f.number_field  :spread , value: @spread, class: "span1", id: "fill", min: 0 %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :stop, class: "control-label" %>
			<div class="controls">
				<%= f.number_field :stop, class: "input-small", step: @step, min: 0 %> 
			</div>
		</div>
		<%= f.hidden_field :kelly, value: @kelly %>
		<%= f.hidden_field :edge, value: @edge %>

		<div class="control-group">
			<%= f.label :targ1, "1st Target", class: "control-label" %>
			<div class="controls">
				<%= f.number_field :targ1, class: "input-small", step: @step, min:0  %>
			</div>
		</div>

		<div class="control-group">
			<%= f.label :prob1, "Probability of reaching 1st Target", class: "control-label" %>								
				<div class="controls">
					<div class="input-append">	
					<%= f.number_field :prob1, class: "span1", id: "appendedInput", type: "number", min:0, max: 100 %>
						<span class="add-on">%</span>
					</div>
				</div>
		</div>

		<div class="control-group">
			
			<div class="controls">
				<%= f.check_box :second_target, class: "checkbox 2nd_target" %>
						2nd Target
			</div>
		</div>

	<div id="target_2">

		<div class="control-group">
				<%= f.label :targ2, "2nd Target", class: "control-label" %>
				<div class="controls">
					<%= f.number_field :targ2, class: "input-small", step: @step, min:0  %>
				</div>
			</div>

			
	
			<div class="control-group">
				<%= f.label :prob2, "Probability of reaching 2nd Target", class: "control-label" %>
				<div class="controls">
					<div class="input-append">
						<%= f.number_field :prob2, class: "span1", id: "appendedInput", type: "text" %>
							<span class="add-on">%</span>						
					</div>
					<span class="help-inline">This must be less than the probability of reachiing target 1</span>
				</div>
			</div>
	
			<div class="control-group">
				<%= f.label :stop2, "trailing stop after Target 1 reached", class: "control-label" %>
				<div class="controls">
					<%= f.number_field :stop2, class: "input-small" , step: @step %>
					<span class="help-inline">Defaults to breakeven if left blank</span>
				</div>
	
		</div>	
		<div class="control-group">
				<%= f.label :sellpct, "Portion to sell at Target 1", class: "control-label" %>
				<div class="controls">					
					<div class="input-append">
						<%= f.number_field :sellpct, value: @sellpct, class: "span1", id: "appendedInput", type: "number",
						min: 0, max: 100 %>
						<span class="add-on">%</span>
					</div>			
						<% if !@best_sellpct.blank? %>
							<strong><span class="help-inline"><%= number_to_percentage @best_sellpct %> is the optimal % to sell at Target 1</span></strong>
						<% end %>
				</div>
			</div>	
	</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>R/R</th>					
					<th>Edge</th>
					<th>Kelly Criterion</th>
					<th>Transact Cost</th>
					<th>Allocation</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @rr %></td>
					<td><%= number_to_percentage(@edge) %></td>
					<td><%= number_to_percentage(@kelly) %></td>
					<td><%= number_to_percentage(@house) %></td>
					<td><%= @alloc %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="button-group">
		<%= f.submit "Calculate", class: "btn btn-large btn-primary" %>
		<a href="#tradeModal" role="button" class="btn btn-large" data-toggle="modal" id="modalbutton" >Enter Trade</a>
		
	</div>
	<div id="tradeModal" class="modal hide fade" tabindex="-1" role="dialog"
									aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal"
    aria-hidden="true">×</button>
    <h3 id="myModalLabel">Enter Trade Details</h3>
  </div>
  <div class="modal-body">

  	<% if @trade.entries.first.errors.any? %>
  		<div id="#error_explanation" class="alert alert-error">
  			<%= @trade.entries.first.errors.full_messages do |msg| %>
  				<li><%=  msg %></li>
  			<% end %>
  		</div>
  	<% end %>

 

    <%= f.fields_for :entries do |e| %>

    	<div class="control-group">
    		<%= e.label :entrytime, "Entry timestamp" %>
    	  <div class="controls">
    	  	<%= e.datetime_local_field :entrytime, value: Time.now.strftime("%Y-%m-%dT%R"), class: "span4 control-label"  %>
    	  </div>
    	</div>

    	<%= e.label :quantity %>
    	<%= e.number_field :quantity, class: "input-small", value: @quantity %>

    	<%= e.label :price %>
    	<%= e.number_field :price, class: "input-small", value: @price, step: @step, min:0 %>
    	
    <% end %>

    <%= f.label :desc, "Descripton" %>
    <%= f.text_field :desc, class: "span7", value: @desc %>

    <%= f.label :comments %>
    <%= f.text_area :comments, class: "span10" %>

    <div class="checkbox">  
	   <%= f.label :market_condition %>  
	   <%= f.collection_check_boxes :market_condition, Trade.get_market_condition, :to_s, :to_s do |b| %>
	   <%= b.label(class: "checkbox inline") {b.check_box + b.text }  %>
	   <% end %>      
 		</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal"
    aria-hidden="true">Dismiss</button>
    <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
</div>
<% end %>