<%= provide(:title, 'Categories') %>

<h1>Create a new Category</h1>

<div class="row">
	<div class="span6 offset3">
		<%= nested_form_for @category, url: user_categories_path do |f| %>

			<fieldset class="field">
				<%= render 'cat_fields', f: f %>
			</fieldset>

				<%= f.fields_for :tags do |builder| %>
					<%= render 'tag_fields' , f: builder %>
				<% end %>
				<%= f.link_to_add "Add Tag", :tags %>
			
					
			<%= f.submit "Save", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>

</div>