<div class="form-inline">
  <%= f.label :entrytime, "Timestamp" %>  			  	
  <%= f.datetime_local_field :entrytime, value: date_format(f.object.entrytime), class: "span3 control-label" %>

	<%= f.label :quantity %>
	<%= f.number_field :quantity, class: "span1" %>

	<%= f.label :price %>
	<%= f.number_field :price, class: "input-small", step: step(@trade.symbol)%>	

	<%= f.label :category, "Tags" %>
	<%= f.collection_select :category, @categories, :to_s, :to_s, {include_blank: true},
			{ class: "input-small category"} %>
	
	
	<%= f.link_to_remove "remove", class: "rentry" %>
	<div class="offset2">Tags:<%= f.object.tags %> </div>

<%= f.grouped_collection_select :tags, current_user.categories, :tags, :name, :name, :name, {include_blank: true},
			{ multiple: true , class: "input-large tags offset7"} %>
</div>
