<div class="form-inline">
  <%= f.label :entrytime, "Timestamp" %>  			  	
  <%= f.datetime_local_field :entrytime, value: date_format(f.object.entrytime), class: "span3 control-label" %>

	<%= f.label :quantity %>
	<%= f.number_field :quantity, class: "span1" %>

	<%= f.label :price %>
	<%= f.number_field :price, class: "input-small", step: step(@trade.symbol)%>	
	
	<%= f.link_to_remove "remove", id: "entry" %>
	
</div>