<tr>
	
	<td class="timestamp"><%= trade.created_at.strftime('%m/%d/%Y %I:%M%p') %> </td>
	<td><%= trade.position %></td>
	<td><%= trade.symbol %></td>
	<td><%= trade.avg_price %></td>
	<td><%= trade.current_price %></td>
	<td class="comments"><%= link_to trade.desc, edit_trade_path(trade) %></td>
	<td class="text-right"><%= number_to_currency trade.open_pl %>
		<%= link_to "delete", trade, method: :delete,
																		data: { confirm: "You sure?"} %>
	</td>

</tr>